
:root {
 
  --modal-duration: 1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #628395;

}

.container {
  
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 80%;

}

.restart-btn {
  display: none;
  background-color: #262A53;
  color: #FFE3E3;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 1rem;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}

.restart-btn:hover {
  background: #FFA0A0;
  color: #262A53;
  
}

.header {
  text-align: center;
  margin: 1rem 0;
  color: #FFE3E3;
}

.header h1 {
  margin-bottom: 1rem;
}

h2 {
  color: #FFE3E3;
}

.score {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  font-size: 2rem;
  color: #fff;
  padding: 20px;
  
}

.score p:first-child {
  background: #FFA0A0;
  color: #262A53;
}

.score p:last-child {
  background: #262A53;
  color: #FFA0A0;
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.choice {
  cursor: pointer;
  color: #FFA0A0 ;
}

.choice:hover {
  color: #262A53;
}

.text-win {
  color: #50CB93;
}

.text-lose {
  color: #54436B;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #EFE3D0;
  text-align: center;
  margin: 10% auto;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-content h1 {
  margin-bottom: 1rem;
  
}

.modal-content p {
  font-size: 1.4rem;
  margin-top: 1rem;
  color:#628395;  
}

.modal-content i {
  color: #628395;
}

footer {
  color: white;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
  }

  #heart {
    color: red;
  }

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width: 700px) {
  #rock {
    font-size: 70px;
  }

 #paper {
  font-size: 70px;
  }

#scissors {
  font-size: 70px;
  }

  .score, .restart-btn{
    font-size: 1.4rem;
  }


}
  

@media (max-width: 500px) {
  #rock {
    font-size: 40px;
  }

 #paper {
  font-size: 40px;
  }

#scissors {
  font-size: 40px;
  }

.score, .restart-btn  {
  font-size: 1rem ;
  }

  
}